# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# cPanel Static HTML Hosting configuration
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Protect files from unauthorized public web access
  RewriteRule ^(\.cpanel\.yml|\.gitignore)$ - [F,L]
</IfModule>
